<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>VueJS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image" no-scroll padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VueJS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img  src="../../../assets/vuejs-ar21.svg " width=100%/>
    <ion-card-header>
      <ion-card-title>VueJS</ion-card-title>
      <ion-card-subtitle>Framework</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      VueJS is a progressive JavaScript framework used to develop interactive web interfaces. Focus is more on the view part, which is the front end. It is very easy to integrate with other projects and libraries. The installation of VueJS is fairly simple, and beginners can easily understand and start building their own user interfaces. The content is divided into various chapters that contain related topics with simple and useful examples.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Vue (pronounced /vjuː/, like view) is a JavaScript framework for building user interfaces. It builds on top of standard HTML, CSS, and JavaScript and provides a declarative and component-based programming model that helps you efficiently develop user interfaces, be they simple or complex.    </ion-card-content>
  </ion-card>
</ion-content>
