<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AngularJS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image" no-scroll padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AngularJS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img  src="../../../assets/angular-ar21.svg" width=100%/>
    <ion-card-header>
      <ion-card-title>Angular</ion-card-title>
      <ion-card-subtitle>Framework</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. AngularJS's data binding and dependency injection eliminate much of the code you would otherwise have to write. And it all happens within the browser, making it an ideal partner with any server technology.
      AngularJS is what HTML would have been, had it been designed for applications. HTML is a great declarative language for static documents.
    </ion-card-content>
  </ion-card>
</ion-content>
