<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ReactJS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image" no-scroll padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ReactJS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img  src="../../../assets/reactjs-ar21.svg " width=100%/>
    <ion-card-header>
      <ion-card-title>React</ion-card-title>
      <ion-card-subtitle>Framework</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      React.js, more commonly known as React, is a free, open-source JavaScript library. It works best to build user interfaces by combining sections of code (components) into full websites. Originally built by Facebook, Meta and the open-source community now maintain it. One of the good things about React is that you can use it as much or as little as you want! For example, you can build your entire site in React or just use one single React component on one page.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      React.js is built using JSX – A combination of JavaScript and XML. Elements are created using JSX, then use JavaScript to render them on your site. While React has a steep learning curve for a junior developer, it’s quickly shaping into one of the most popular and in-demand JavaScript libraries.
    </ion-card-content>
  </ion-card>
</ion-content>
