<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Frameworks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Frameworks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <h1>Frameworks</h1>

    <p>
      A web development framework is a set of resources and tools for software developers to build and manage web applications, web services and websites, as well as to develop application programming interfaces (APIs). Web development frameworks are also referred to as web application frameworks or simply web frameworks.
    </p>
    <p>
      Web development frameworks enable developers to build applications that can run on well-known technology stacks such as the Linux, Apache, MySQL and PHP (LAMP) stack. Most frameworks provide a wide range of features and functionality that help streamline application development.
      For example, they might include any of the following components:
    </p>
    <ul>
      <li>Application templates for presenting information within a browser.</li>
      <li>Support for debugging, quality assurance (QA) testing and code reusability.</li>
      <li>Code libraries with prebuilt components and code snippets.</li>
      <li>APIs for accessing back-end data resources.</li>
      <li>Programming environment for scripting the flow of information.</li>
    </ul>
  </ion-content>
</ion-content>
